/ShadowMapTestLinux/jogl/build/
/ShadowMapTestLinux/mtgameJAR/build/
/ShadowMapTestLinux/jmeJARS/build/
/ShadowMapTestLinux/gluegen-rt/build/
/ShadowMapTestLinux/ShadowMapRightPane/build/
/ShadowMapTestLinux/ShadowMapRightPane/nbproject/private/
/ShadowMapTestWindows/jmeJARS/build/
/ShadowMapTestWindows/mtgameJAR/build/
/ShadowMapTestWindows/PropertiesModifier/build/
/ShadowMapTestWindows/PropertiesModifier/nbproject/private/
/ShadowMapTestWindows/jogl/build/
/ShadowMapTestWindows/gluegen-rt/build/